@model PerFinanc.Web.Models.LancamentoContaFixa

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

@if (TempData["Mensagem"] != null)
{
    <script>
        Swal.fire("Sucesso!", "@TempData["Mensagem"]", "sucess");
    </script>
}

<div class="container mt-4">

    <div class="mb-3 text-center">
        <h1 class="h3 text-white mb-0">Editar lançamento de contas</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <div class="card bg-dark border-secondary">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="mb-3">
                            <label asp-for="ContaFixaId" class="form-label text-white"></label>
                            <select asp-for="ContaFixaId" class="form-control" asp-items="ViewBag.ContaFixaId"></select>
                            <span asp-validation-for="ContaFixaId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Ano" class="form-label text-white"></label>
                            <input asp-for="Ano" class="form-control" />
                            <span asp-validation-for="Ano" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Mes" class="form-label text-white"></label>
                            <input asp-for="Mes" class="form-control" />
                            <span asp-validation-for="Mes" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ValorPrevisto" class="form-label text-white"></label>
                            <input asp-for="ValorPrevisto" class="form-control" />
                            <span asp-validation-for="ValorPrevisto" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ValorPago" class="form-label text-white"></label>
                            <input asp-for="ValorPago" class="form-control" />
                            <span asp-validation-for="ValorPago" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="DataPagamento" class="form-label text-white"></label>
                            <input asp-for="DataPagamento" type="datetime-local" class="form-control" />
                            <span asp-validation-for="DataPagamento" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Observacao" class="form-label text-white"></label>
                            <input asp-for="Observacao" class="form-control" />
                            <span asp-validation-for="Observacao" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between" ">
                            <a asp-action="Index" class="btn btn-outline-light">Voltar</a>
                            <button type="submit" value="Save" class="btn btn-primary">
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
