@{
    ViewData["Title"] = "Sobre Nós";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="h3 text-white mb-3">Sobre Nós</h1>
    <div class="card bg-dark text-white">
        <div class="card-body">
            <p>Bem-vindo ao PerFinanc, sua plataforma confiável para gerenciamento financeiro pessoal. Nossa missão é ajudar você a controlar suas finanças de maneira simples e eficiente.</p>
            <p>Com o PerFinanc, você pode acompanhar suas contas fixas, gerenciar lançamentos e obter insights valiosos sobre seus hábitos financeiros. Estamos comprometidos em fornecer uma experiência segura e intuitiva para que você possa tomar decisões financeiras informadas.</p>
            <p>Obrigado por escolher o PerFinanc como seu parceiro financeiro. Estamos aqui para apoiar você em sua jornada rumo à estabilidade financeira!</p><br /><br />

            <p>Para maiores informações, visite nosso site oficial ou entre em contato com nossa equipe de suporte</p>
            <p>Bruno Silva - <a href="https://www.instagram.com/bfs_1989_29/" target="_blank">Insta</a></p>
        </div>

        
    </div>
</div>

